html {
    box-sizing: border-box;
  }

*, *::before, *::after {
    box-sizing: inherit;
  }

body {
  display: flex;
  flex-direction: column;
  align-items: center;  
}

#container {
    display: flex;
    height: 600px;
    width: 600px;
}

.column {
  width: 100%;
  display: flex;
  flex-direction: column;
}

div.grid-box  {
    border: gray solid 1px;
    width: 100%;
    flex-grow: 1;
}